:root {
    --background-color: #282C34;
    --text-color: #ABB2BF;
    --button-background: #61AFEF;
    --button-text: #FFFFFF;
}

body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
}

.sidebar {
    flex: 1;
    padding-right: 20px; /* Add some padding to the right side of the sidebar */
    margin-right: 10px; /* Add margin to separate the sidebar from the main content */
    border-right: 1px solid #4B5263; /* Add border to the right side of the sidebar */
}

.main {
    flex: 3; /* Adjust this value according to your layout needs */
    padding-left: 20px; /* Add some padding to the left side of the main content */
}

.message-content {
    display: flex;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
    align-items: center; /* Align items vertically */
}

.line-number {
    color: #4B5263;
    padding: 5px;
    margin-right: 10px; /* Add some space between line number and text */
}

.line-number.self {
    color: #EF596F; /* Red color for user's messages */
}

.line-number.other {
    color: #61AFEF; /* Blue color for other person's messages */
}

.text {
    flex: 1; /* Fill remaining space */
    padding-left: 10px; /* Add padding to separate text from border */
    border-left: 1px solid #4B5263; /* Add border to the left side of the text */
}




.input-container {
    display: flex;
    margin-top: 20px;

}

.message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #4B5263;
    border-radius: 5px;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    background-color: var(--background-color);
    color: #ABB2BF;
    resize: none;
    margin-left: 40px;
}

.send-button {
    background-color: #61AFEF;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.send-button:hover {
    background-color: #3E90F3;
}

.color-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.color-button {
    background-color: #61AFEF;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

.color-button:hover {
    background-color: #3E90F3;
}


